
.reset-title {
  color: #000000DE;
  font-size: 34px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.help-text {
  margin: 0;
  color: #000000DE;
  font-size: 16px;
  text-align: center;
}

.wait-title {
  color: #000000DE;
  font-size: 34px;
  text-align: center;
  padding-bottom: 20px;
}

.lb {
  border-bottom: 1px solid #000000DE;
  margin-left: 43%;
  margin-right: 40%;
  margin-top: 0px;
padding: 10px;
  margin-bottom: 0px;
  color: #000000DE;
  font-size: 16px;
  text-align: center;
  color: white;
  width: 170px;

}
